.input-icon{
    /* vertical-align: bottom; */
    vertical-align: -0.4em;

    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  
}

.field{
    margin-left: auto;
    margin-right: auto;
  
}

.outer{
    height: 100vh;
    background: rgb(196,232,253);
    background: -moz-linear-gradient(234deg, rgba(196,232,253,1) 0%, rgba(217,244,254,1) 18%, rgba(255,243,255,1) 48%, rgba(209,246,236,1) 100%);
    background: -webkit-linear-gradient(234deg, rgba(196,232,253,1) 0%, rgba(217,244,254,1) 18%, rgba(255,243,255,1) 48%, rgba(209,246,236,1) 100%);
    background: linear-gradient(234deg, rgba(196,232,253,1) 0%, rgba(217,244,254,1) 18%, rgba(255,243,255,1) 48%, rgba(209,246,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4e8fd",endColorstr="#d1f6ec",GradientType=1);
    /* background: rgb(2,0,36);
    background: linear-gradient(56deg, rgba(2,0,36,1) 0%, rgba(183,236,206,1) 0%, rgba(159,179,201,1) 12%, rgba(120,189,218,1) 14%, rgba(220,203,236,1) 70%);; */

}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.form-inline label{
    padding-left: 10px;
    margin:0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;

}

.panel{
    box-shadow: 20px 20px 80px rgb(218,218,218);
    border-radius: 12px;
    margin-top: 100px;

}

.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    /* color: #4343ff; */
}

.input-field.error{
    border:1px solid red;
    color: red;
}
input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width:100%;
}

.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;

}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.center{
    /* justify-content: center;  */
    justify-content: center;
    
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 8px 8px;
} 