.example-spacer {
    flex: 1 1 auto;
  }

  .tool-bar{
    background: rgb(84,118,189);
    background: linear-gradient(90deg, rgba(84,118,189,1) 0%, rgba(219,120,120,1) 49%, rgba(252,176,69,1) 100%);
  
    
  
  
  }
  
  .tool-bar1{
    /* background: rgb(237,145,60);
    background: radial-gradient(circle, rgba(237,145,60,1) 46%, rgba(221,28,67,1) 100%); */
    
    background: rgb(2,0,36);
background: linear-gradient(56deg, rgba(2,0,36,1) 0%, rgba(183,236,206,1) 0%, rgba(159,179,201,1) 12%, rgba(120,189,218,1) 14%, rgba(220,203,236,1) 70%);
  }
  mat-header-cell{
    text-align: center;
    font-size: medium;
    font-weight: 550;
    column-rule-color:black;
    color: black;
    
  }

  table
  {
       width:100%;
       
  }

  .container
  {
    background: rgb(203,236,217);
background: linear-gradient(56deg, rgba(203,236,217,1) 0%, rgba(243,237,249,1) 70%);
  }
  .mat-form-field{
    font-size: 14px;
    width:20%;
  }