<mat-toolbar class = "tool-bar1">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
      <mat-icon>check_circle</mat-icon>
    </button>
    <span>Bids Received</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <mat-form-field appearance="standard">
    <mat-label>Filter table</mat-label>
    <input matInput placeholder="" search (keyup) = "applyFilter($event)" />
  </mat-form-field>
  <div class = "mat-elevation-z8">
    
    <table mat-table matSort [dataSource]="dataSource" #input>
      <ng-container matColumnDef = "id"> 
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.productName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "shortDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Short Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.shortDescription}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "detailedDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Detailed Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.detailedDescription}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef = "category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.category}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "startingPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Body</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.startingPrice}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "bidEndDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bid End Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.bidEndDate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef = "firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef = "bidAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bid Amount</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.bidAmount}}</mat-cell>
      </ng-container>
  
  
  
      <mat-header-row *matHeaderRowDef="bidsColumns"></mat-header-row>
      <mat-header-row *matRowDef="let row; columns: bidsColumns "></mat-header-row>
  
      <tr class = "mat-header-row" *matNoDataRow>
        <td class = "mat-cell" colspan = "4">
          Filter does not match any item in the data for text {{filterValue}}
        </td>
      </tr>
  
      
    </table>  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-labels="select page of users"></mat-paginator>
  
   
  </div>
  

